@import url("//fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500&display=swap");
input {
  border: none;
  outline: 0;
  -webkit-appearance: none;
  appearance: none;
}
button {
  background: none;
  border: none;
  outline: 0;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.4rem;
}
header {
  height: 48px;
  background: #33b295;
  text-align: center;
}
h1 a {
  line-height: 48px;
  font-size: 1.8rem;
  font-weight: 500;
  color: #fff;
  letter-spacing: 1px;
  text-decoration: none;
}
.container {
  display: flex;
  justify-content: space-between;
}
main {
  width: calc(100% - 290px);
  padding: 0 10px;
  box-sizing: border-box;
  background: #fff;
}
h2 {
  margin: 20px;
  font-size: 2rem;
  font-weight: 500;
  color: #33b295;
}
.insert-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.insert-btn input {
  display: block;
  width: 100%;
  padding: 20px 10px;
  font-size: 1.5rem;
}
.insert-btn button {
  display: block;
  padding-left: 20px;

  font-size: 2rem;
  color: #777;
  cursor: pointer;
}
.select_area p {
  position: relative;
}
.select_area .task_val {
  display: block;
  padding: 20px 20px 20px 50px;
  border-bottom: 1px solid #ddd;
  box-sizing: border-box;
  font-size: 1.5rem;
  color: #333;
  text-decoration: none;
}
.select_area p .task_val:hover {
  background: #f6f6f6;
}
.select_area .delete {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;
  width: 20px;
  height: 20px;
  margin: auto;
  border: 1px solid #33b295;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
}
.select_area .delete:hover {
  background: #33b295;
}
.select_area .delete i {
  line-height: 20px;
  font-size: 1.1rem;
  color: #33b295;
}
.select_area .delete:hover i {
  color: #fff;
}
sub {
  height: 100vh;
  width: 290px;
  border-right: 1px solid #eaeaea;
  background: #f4f4f4;
}
sub ul {
  margin-top: 60px;
}
sub ul li {
  padding: 15px 20px;
  font-size: 1.5rem;
  font-weight: 300;
}
sub ul li i {
  margin-right: 10px;
  font-size: 1.8rem;
  color: #777;
}
.update {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.update input {
  display: block;
  width: 80%;
  padding: 20px;
  border-bottom: 1px solid #ddd;
  font-size: 1.5rem;
}
.update button {
  display: block;
  width: 160px;
  padding: 10px 0;
  border-radius: 3px;
  background: #33b295;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}
